:root {
  --title-text-color: #212121;
  --secondary-text-color: #757575;
  --common-lite-color: #ffffff;
  --accent-color: #2196f3;
  --common-background: #f5f4fa;
  --common-link: #afb1b8;
  --outline: 1px solid #eeeeee;
  --dark-background-color: #2f303a;
  --letter-spacing: 0.03em;
  --title-letter-spacing: 0.06em;
  --bold-font-weight: 700;
  --normal-font-weight: 500;
  --font-size: 14px;
  --line-height-normal: 1.142;
  --normal-font-size: 16px;
  --common-cubic-bezier: cubic-bezier(0.4, 0, 0.2, 1);
  --padding-standard: 0 15px;
  --sections-padding: 94px 0;
}

.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

* {
  margin: 0px;
  padding: 0px;
}

body {
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: normal;
  background: var(--common-lite-color);
}

ul {
  list-style: none;
}

img {
  display: block;
}

.display-flex {
  display: flex;
}

.link-effects {
  margin: 0px;
  padding: 0px;
  text-decoration: none;
  display: block;
}

.container {
  width: 1200px;
  padding: var(--padding-standard);
  margin: 0 auto;
  align-items: center;
}

.header .container {
  display: flex;
  border-bottom: 1px solid #ececec;
}

.footer .container {
  align-items: baseline;
}

.logo {
  font-family: Raleway, sans-serif;
  font-weight: var(--bold-font-weight);
  font-size: 26px;
  line-height: 1.192;
  letter-spacing: var(--letter-spacing);
}

.logo-web {
  color: var(--accent-color);
}

.contacts {
  margin-left: auto;
  display: flex;
}

.contacts__list {
  display: flex;
  align-items: center;
  color: var(--secondary-text-color);
}

.contacts__list:not(:first-child) {
  margin-left: 30px;
}

.contacts__list-icon {
  margin-right: 10px;
}

.contacts__link {
  padding: 32px 0px;
  font-weight: var(--normal-font-weight);
  font-size: var(--font-size);
  line-height: var(--line-height-normal);
  display: flex;
  align-items: center;
  color: var(--secondary-text-color);
  fill: currentColor;
  transition: color 250ms var(--common-cubic-bezier);
}

.contacts__link:hover, .contacts__link:focus {
  color: var(--accent-color);
  cursor: pointer;
}

.order-service-btn {
  margin-left: auto;
  margin-right: auto;
  padding: 10px 32px;
  font-weight: var(--bold-font-weight);
  font-size: var(--normal-font-size);
  line-height: 1.875;
  letter-spacing: var(--title-letter-spacing);
  display: inline-block;
  background: var(--accent-color);
  color: var(--common-lite-color);
  border-radius: 4px;
  cursor: pointer;
  border: none;
}

.social-list {
  margin-top: 10px;
  display: flex;
}

.social-list__item {
  width: 44px;
  height: 44px;
}

.social-list__item:not(:first-child) {
  margin-left: 10px;
}

.social-list__link {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  fill: var(--common-link);
  border-radius: 50%;
  transition: background-color 250ms var(--common-cubic-bezier), fill 250ms var(--common-cubic-bezier);
}

.social-list__link:hover, .social-list__link:focus {
  fill: var(--common-lite-color);
  background-color: var(--accent-color);
}

.title {
  margin-bottom: 50px;
  font-weight: var(--bold-font-weight);
  font-size: 36px;
  line-height: 1.166;
  letter-spacing: var(--letter-spacing);
  text-align: center;
  color: var(--title-text-color);
}

.header-nav {
  display: flex;
  overflow: hidden;
}

.header-nav__logo {
  padding-top: 24px;
  padding-bottom: 24px;
  color: var(--title-text-color);
}

.header-nav__list {
  margin-left: 93px;
  display: flex;
  font-weight: var(--normal-font-weight);
}

.header-nav__list-item:not(:first-child) {
  margin-left: 50px;
}

.header-nav__link {
  position: relative;
  padding: 32px 0px;
  font-weight: inherit;
  font-size: var(--font-size);
  line-height: var(--line-height-normal);
  color: var(--title-text-color);
  transition: color 250ms var(--common-cubic-bezier);
}

.header-nav__link:hover, .header-nav__link:focus {
  color: var(--accent-color);
}

.header-nav__link::after {
  position: absolute;
  margin-top: 24px;
  width: 100%;
  height: 4px;
  bottom: 0;
  content: "";
  display: block;
  border-radius: 4px;
  transform: scale(0);
  background-color: var(--accent-color);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-nav__link:hover::after,
.header-nav__link:focus::after {
  transform: scale(1);
}

.header-nav__link-current {
  color: var(--accent-color);
}

.header-nav__link-current::before {
  position: absolute;
  margin-top: 24px;
  width: 100%;
  height: 4px;
  bottom: 0;
  content: "";
  display: block;
  border-radius: 4px;
  background-color: var(--accent-color);
}

.hero {
  margin-left: auto;
  margin-right: auto;
  padding: 200px 0px;
  width: 1600px;
  box-sizing: border-box;
  display: block;
  text-align: center;
  background-color: #2f303a;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/Img.jpg);
  background-repeat: no-repeat;
  background-position: center;
}

.hero__description {
  margin-bottom: 30px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.363;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--common-lite-color);
}

.features {
  padding: 94px 0;
}

.features__list {
  display: flex;
  flex-direction: row;
  font-size: var(--font-size);
  line-height: 1.714;
  color: var(--common-lite-color);
}

.features__description {
  margin-top: 10px;
  width: 270px;
}

.features__details {
  margin-right: 30px;
  width: 270px;
  letter-spacing: var(--letter-spacing);
  color: var(--secondary-text-color);
}

.features__details:last-child {
  margin-right: 0;
}

.features__items {
  max-width: 270px;
  font-style: normal;
  font-size: var(--font-size);
  line-height: var(--line-height-normal);
  letter-spacing: var(--letter-spacing);
  font-weight: var(--bold-font-weight);
  text-transform: uppercase;
  color: var(--title-text-color);
}

.features__items::before {
  margin-bottom: 30px;
  height: 120px;
  display: block;
  content: "";
  background-repeat: no-repeat;
  background-position: center;
  background-color: var(--common-background);
  border-radius: 4px;
}

.icon-antenna::before {
  background-image: url(../images/features/antenna.png);
}

.icon-clock::before {
  background-image: url(../images/features/clock.png);
}

.icon-diagram::before {
  background-image: url(../images/features/diagram.png);
}

.icon-astronaut::before {
  background-image: url(../images/features/astronaut.png);
}

.section-what-we-do {
  padding-bottom: 94px;
}

.what-we-do {
  display: flex;
  text-align: center;
}

.what-we-do__items {
  margin-right: 30px;
}

.what-we-do__img {
  position: relative;
}

.what-we-do__discr {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 70px;
  content: "";
  font-size: var(--font-size);
  line-height: var(--line-height-normal);
  text-align: center;
  letter-spacing: var(--letter-spacing);
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--common-background);
  background: rgba(47, 48, 58, 0.8);
}

.team-section {
  padding: 94px 0;
  margin-right: auto;
  margin-left: auto;
  box-sizing: content-box;
  background-color: var(--common-background);
}

.team {
  display: flex;
  flex-wrap: nowrap;
  font-size: var(--normal-font-size);
  line-height: 1.25;
  text-align: center;
}

.team-members {
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  color: var(--title-text-color);
}

.team-members:not(:last-child) {
  margin-right: 30px;
}

.team-members__container {
  padding: 30px 32px;
  flex-basis: calc(100% / 3 - 20px);
  letter-spacing: var(--letter-spacing);
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  background-color: var(--common-lite-color);
}

.team-members__title {
  font-weight: var(--normal-font-weight);
  font-size: var(--normal-font-size);
  line-height: 1.25;
}

.team-members__position {
  margin-top: 10px;
  text-align: center;
  color: var(--secondary-text-color);
}

.clients {
  padding: var(--sections-padding);
}

.clients__item {
  width: 170px;
  height: 90px;
}

.clients__item:not(:last-child) {
  margin-right: 30px;
}

.clients__icon {
  display: block;
  align-content: center;
}

.clients__link {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  fill: var(--common-link);
  border: 1px solid var(--common-link);
  border-radius: 4px;
  transition: fill 250ms var(--common-cubic-bezier), border 250ms var(--common-cubic-bezier);
}

.clients__link:hover, .clients__link:focus {
  border: 1px solid var(--accent-color);
  fill: var(--accent-color);
}

.footer {
  padding: 60px 0px;
  display: flex;
  background: var(--dark-background-color);
}

.footer__logo {
  margin-bottom: 20px;
  color: var(--common-lite-color);
}

.footer-address {
  width: 231px;
  line-height: 1.714;
  font-size: var(--font-size);
  font-style: inherit;
  color: var(--common-lite-color);
}

.footer-address__mail, .footer-address__city {
  margin-bottom: 10px;
}

.footer-address__tel--link, .footer-address__mail--link {
  font-size: inherit;
  line-height: inherit;
  letter-spacing: var(--letter-spacing);
  color: rgba(255, 255, 255, 0.6);
  transition: color 250ms var(--common-cubic-bezier);
}

.footer-address__tel--link:hover, .footer-address__tel--link:focus, .footer-address__mail--link:hover, .footer-address__mail--link:focus {
  color: var(--accent-color);
}

.footer-social {
  margin-left: 70px;
}

.footer-social__title {
  margin-bottom: 20px;
  font-weight: var(--bold-font-weight);
  font-size: var(--font-size);
  line-height: var(--line-height-normal);
  letter-spacing: var(--letter-spacing);
  text-transform: uppercase;
  color: var(--common-lite-color);
}

.footer-social__list {
  margin: 0;
  padding: 0;
  display: flex;
}

.footer-social__link {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  fill: var(--common-lite-color);
  transition: background-color 250ms var(--common-cubic-bezier);
}

.footer-social__link:hover {
  background-color: var(--accent-color);
}

.footer-social__link:focus {
  background-color: var(--accent-color);
}

.footer-form {
  margin-left: 93px;
}

.footer-form__title {
  margin-bottom: 20px;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.142;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--common-lite-color);
}

.footer-form__btn {
  margin-left: 12px;
  width: 200px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.875;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  background-color: var(--accent-color);
  color: var(--common-lite-color);
  pointer-events: auto;
  cursor: pointer;
}

.footer-form__icon {
  margin-left: 10px;
}

.footer-form__input {
  padding: 14px 16px;
  width: 358px;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: var(--letter-spacing);
  color: rgba(255, 255, 255, 0.6);
  background-color: inherit;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  border-radius: 4px;
  transition: border-color 250ms var(--common-cubic-bezier);
}

.footer-form__input:hover, .footer-form__input:focus {
  cursor: pointer;
  border-color: var(--accent-color);
  color: var(--common-lite-color);
  outline: none;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
  pointer-events: none;
  opacity: 1;
  transition: opacity 250ms var(--common-cubic-bezier);
}

.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0.9);
}

.modal {
  position: absolute;
  padding: 40px;
  display: flex;
  width: 528px;
  height: 581px;
  left: 50%;
  top: 50%;
  background: var(--common-lite-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transform: translate(-50%, -50%) scale(1);
  transition: transform 250ms var(--common-cubic-bezier);
  pointer-events: none;
  cursor: pointer;
}

.modal-close__btn {
  position: absolute;
  padding: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 8px;
  right: 8px;
  background: var(--common-lite-color);
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  cursor: pointer;
  pointer-events: auto;
}

.modal-close__btn:hover, .modal-close__btn:focus {
  fill: var(--accent-color);
}

.modal-close__icon {
  transform: fill 250ms var(--common-cubic-bezier);
}

.modal-form {
  pointer-events: auto;
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
}

.modal-form__title {
  margin-bottom: 12px;
  font-weight: var(--bold-font-weight);
  font-size: 20px;
  line-height: 1.15;
  letter-spacing: var(--letter-spacing);
  text-align: center;
  color: var(--title-text-color);
}

.modal-form__label {
  position: relative;
  margin-bottom: 10px;
  display: inline-block;
  font-size: 12px;
  line-height: 1.166;
  letter-spacing: 0.01em;
  color: var(--secondary-text-color);
  cursor: pointer;
}

.modal-form__icon {
  position: absolute;
  top: 50%;
  left: 14px;
  width: 13px;
  height: 13px;
  transition: fill 250ms var(--common-cubic-bezier);
}

.modal-form__agreement--link {
  margin-left: 7px;
  display: inline-block;
  color: var(--accent-color);
}

.modal-form__comment {
  margin-top: 4px;
  width: 100%;
  height: 120px;
  padding: 12px 16px;
  display: block;
  font-size: 12px;
  line-height: 1.166;
  letter-spacing: 0.01em;
  color: var(--title-text-color);
  resize: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: border-color 250ms var(--common-cubic-bezier);
}

.modal-form__comment::placeholder {
  color: rgba(117, 117, 117, 0.5);
}

.modal-form__comment:focus, .modal-form__comment:hover {
  fill: var(--accent-color);
  border-color: var(--accent-color);
  outline: none;
}

.modal-form__input {
  padding-left: 42px;
  width: 100%;
  height: 40px;
  border-radius: 4px;
  color: var(--title-text-color);
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  transition: border-color 250ms var(--common-cubic-bezier);
}

.modal-form__input:focus, .modal-form__input:hover,
.modal-form__input:focus + .modal-form__icon,
.modal-form__input:hover + .modal-form__icon {
  fill: var(--accent-color);
  border-color: var(--accent-color);
  outline: none;
}

.modal-form__agreement--label {
  margin-top: 20px;
  width: 100%;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.01em;
  display: flex;
  justify-content: center;
  align-items: center;
  align-items: center;
  color: var(--secondary-text-color);
}

.modal-form__agreement--label::before {
  margin-right: 7px;
  width: 16px;
  height: 15px;
  content: "";
  border-radius: 2px;
  border: 2px solid var(--title-text-color);
  transition: background-image 250ms var(--common-cubic-bezier), background-color 250ms var(--common-cubic-bezier), border 250ms var(--common-cubic-bezier);
}

.modal-form__agreement--input:checked + .modal-form__agreement--label::before {
  border: 2px solid var(--accent-color);
  background-color: var(--accent-color);
  background-image: url(../images/icon-check.svg);
}

.modal-form__agreement--input:focus + .modal-form__agreement--label::before,
.modal-form__agreement--input:hover + .modal-form__agreement--label::before {
  border: 2px solid var(--accent-color);
}

.submit-btn {
  margin-top: 30px;
  width: 200px;
  height: 50px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}
/*# sourceMappingURL=main.css.map */