.title {
  margin-bottom: 50px;
  font-weight: var(--bold-font-weight);
  font-size: 36px;
  line-height: 1.166;
  letter-spacing: var(--letter-spacing);
  text-align: center;
  color: var(--title-text-color);
}
