.modal-form {
  pointer-events: auto;
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;

  &__title {
    margin-bottom: 12px;
    font-weight: var(--bold-font-weight);
    @include font(20px, 1.15, var(--letter-spacing));
    text-align: center;
    color: var(--title-text-color);
  }
  &__label {
    position: relative;
    margin-bottom: 10px;
    display: inline-block;
    @include font(12px, 1.166, 0.01em);
    color: var(--secondary-text-color);
    cursor: pointer;
  }
  &__icon {
    position: absolute;
    top: 50%;
    left: 14px;
    width: 13px;
    height: 13px;
    transition: fill 250ms var(--common-cubic-bezier);
  }
  &__agreement--link {
    margin-left: 7px;
    display: inline-block;
    color: var(--accent-color);
  }
}
.modal-form__comment {
  margin-top: 4px;
  width: 100%;
  height: 120px;
  padding: 12px 16px;
  display: block;
  @include font(12px, 1.166, 0.01em);
  color: var(--title-text-color);
  resize: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: border-color 250ms var(--common-cubic-bezier);

  &::placeholder {
    color: rgba(117, 117, 117, 0.5);
  }
  &:focus,
  &:hover {
    fill: var(--accent-color);
    border-color: var(--accent-color);
    outline: none;
  }
}
.modal-form__input {
  padding-left: 42px;
  width: 100%;
  height: 40px;
  border-radius: 4px;
  color: var(--title-text-color);
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  transition: border-color 250ms var(--common-cubic-bezier);

  &:focus,
  &:hover,
  &:focus + .modal-form__icon,
  &:hover + .modal-form__icon {
    fill: var(--accent-color);
    border-color: var(--accent-color);
    outline: none;
  }
}
.modal-form__agreement--label {
  margin-top: 20px;
  width: 100%;
  @include font(14px, 1.714, 0.01em);
  @include al(flex, center, center);
  align-items: center;
  color: var(--secondary-text-color);
}
.modal-form__agreement--label::before {
  margin-right: 7px;
  width: 16px;
  height: 15px;
  content: "";
  border-radius: 2px;
  border: 2px solid var(--title-text-color);
  transition: background-image 250ms var(--common-cubic-bezier),
    background-color 250ms var(--common-cubic-bezier),
    border 250ms var(--common-cubic-bezier);

  .modal-form__agreement--input:checked + & {
    border: 2px solid var(--accent-color);
    background-color: var(--accent-color);
    background-image: url(../images/icon-check.svg);
  }
  .modal-form__agreement--input:focus + &,
  .modal-form__agreement--input:hover + & {
    border: 2px solid var(--accent-color);
  }
}
.submit-btn {
  margin-top: 30px;
  width: 200px;
  height: 50px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}
