:root {
  --title-text-color: #212121;
  --secondary-text-color: #757575;
  --common-lite-color: #ffffff;
  --accent-color: #2196f3;
  --common-background: #f5f4fa;
  --common-link: #afb1b8;
  --outline: 1px solid #eeeeee;
  --dark-background-color: #2f303a;
  --letter-spacing: 0.03em;
  --title-letter-spacing: 0.06em;
  --bold-font-weight: 700;
  --normal-font-weight: 500;
  --font-size: 14px;
  --line-height-normal: 1.142;
  --normal-font-size: 16px;
  --common-cubic-bezier: cubic-bezier(0.4, 0, 0.2, 1);
  --padding-standard: 0 15px;
  --sections-padding: 94px 0;
}
